<h2>Create a new contact</h2>

<form class="new-contact-form" action="/contacts" method="post">
  <input type="text" name="first_name" placeholder="First Name" >
  <input type="text" name="last_name" placeholder="Last Name" >
  <input type="text" name="email" placeholder="E-mail" >
  <input type="text" name="note" placeholder="Notes" >
  <input type="submit" name="submit" value="New Contact" >
</form>
