body
{
  font-size: 16px;
  font-family: "Arial Black", "Fira Sans";
}

header
{
  /* border:solid 1px red; */
}

header h1
{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 15px 0;
}

header nav ul
{
  /* border:solid 1px red; */
}

header nav li
{

  border-bottom: solid 2px white;
  background-color: #D3D3D3;
  text-align: center;
  padding: 10px 0;
}

header nav li a
{
  color: white;
  text-decoration: none;
}

#wrapper
{
  /* border:solid 1px red; */
  width: 95%;
  margin: 15px auto;
  font-family: "Arial";
  font-size: 20px;
  min-height: 500px;
}

#wrapper h2
{
  padding: 15px;
  background-color: #FF806D;
  margin-bottom: 15px;
}

.underlined
{
  border-bottom: solid 3px green;
  font-weight: bold;
}

.contacts-list li
{
  /* border:solid 1px blue; */
  padding: 20px;
  margin-bottom: 15px;
  background-color: #0EE1D0;
  font-family: "Arial Black";
  /* font-size: 1.5rem; */
}

.contacts-list a
{
  font-size: 16px;
  font-family: "Arial";
}

/* SHOW CONTACT PAGE */
.contact-box * {
  margin-bottom: 10px;
}

.contact-box {
  padding: 15px;
  border: solid 1px #0EE1D0;
  background-color: #0EE1D0;
  border-radius: 5px;
}

.contact-box h1 {
  font-family: "Arial Black";
}



footer
{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1em;
  padding: 15px 0;
}
